* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#todo {
  margin: 3% 5%;
}

input {
  width: 18rem;
  height: 3rem;
  padding-left: 8px;
}
input[type=checkbox] {
  width: 14px;
  height: 12px;
}
li {
  list-style: none;
}

button {
  padding: 5px;
  border-radius: 8px;
}

:checked + label {
  text-decoration: line-through;
}
